button {
    height: 90px;
    width: 90px;
    outline: none;
    margin: 10px;
    border: none;
    border-radius: 2px;
}

button span {
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.386);
    border-radius: 10%;
}
  
button.current {
    box-shadow: 0 0 0 2px white,
                0 0 0 4px black;
}

/* #changeGif img {
    display: block;
    height: 30px;  
    width: 30px;
} */

#changeGif {
    background-image: url( 'https://media.giphy.com/media/EKDSLoPz0yLVC/giphy.gif' );
    background-size: 90px 90px;
    height: 90px;  
    width: 90px;
}

#options {
    background-color: #2E94B9;
}

